@import vars
@import basic

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

#root
  margin: 20px

svg
  border: 1px solid #000

circle.anchor
  stroke: black
  fill: black

circle.ctrl
  stroke: black
  fill: white

circle
  cursor: move

g.active circle.anchor
  fill: red

line.ctrl
  stroke-dasharray: 2 2
